Button {
    -fx-font-size: 20px;
    -fx-text-fill: #333;
    -fx-background-color: #fff;
    -fx-border-color: #333;
    -fx-border-radius: 10px;
    -fx-pref-width: 25%;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
}

Button:hover {
    -fx-background-color: #333;
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
}

#gridPane {
    -fx-background-color: #fff;
}
